.error {
    display: flex;
    margin-top: 50px;
    height: 600px;
    background-image: url(./Notfound.png);
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: end;
}

.errorBoton {
    margin-bottom: 100px;
}